html {
    background-color: 	whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: block;
}

p {
    text-align: center;
    width: 40%;
    margin: 30px 30%;
}

ul {
    margin: 0;
    padding: 0;
}

/*header*/
.fixed_bar {
    width: 100%;
    height: 50px;
}

/*nav*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align: right;
    padding: 20px;
    font-size: 16px;
    font-size: 0.8rem;
}

.navigation li {
    display: inline-block;
    background-color: whitesmoke; 
    font-size: 16px;
    font-size: 0.8rem;
}

/*body*/
.content {
    text-align: center;
}

.greeting {
    display: inline-flex;
    flex-flow: row wrap;
}

.greeting h1 {
    margin: 5px 5px;
    font-size: 32px;
    font-size: 2rem;
}

/*footer*/
.footer_navigation {
    text-align: center;
    position: relative;
    padding: 60px 20px;
}

.footer_navigation li {
    display: inline-flex;
    font-size: 16px;
    font-size: 0.8rem;
}

@media (min-width: 300px) {
    
    .navigation li {
        font-size: 16px;
        font-size: 1rem;
    }

    .footer_navigation li {
        font-size: 16px;
        font-size: 1rem;
    }
}