html {
    background-color: #dcdedd;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline-block;
    background-color: none; 
    font-size: 16px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: goldenrod;
}

/* Navigation */
.navigation {
    position: fixed;
    align-items: center;
    justify-content: middle;
    height: 50px;
    width: 100vw;
    top: 0;
    margin: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.navigation ul{
    position: relative;
    width: 100%;
    display: block;
    text-align: right;
    padding: 0;
    margin: 0;
}

.navigation li {
    line-height: 40px;
    padding: 5px;
}

.navigation a {
    float: right;
    font-size: 16px;
    font-weight: bold;
}

/* Greeting section */
.section-title {
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 700px;
    top: 0;
    background-image: url(./imeges/cup-of-tea.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}

.greeting {
    height: 100%;
    width: 300px;
    margin: 0 auto;
}

#greeting-line {
    padding-top: 360px;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* Sections style */
.section-container {
    padding: 60px 10px;
    margin: auto;
    text-align: center;
}

/* Titles style */
.title-container {
    position: relative;
}

.title {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.title::before {
    position: absolute;
    top: 50%;
    display: block;
    left: 0;
    width: 30%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    content: "";
}

.title::after {
    position: absolute;
    top: 50%;
    display: block;
    right: 0;
    width: 30%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    content: "";
}

/* Webpage content style */
.page-content {
    position: relative;
    background-color: rgb(55, 55, 55);
    color: white;
    height: auto;
    margin-top: 700px;
}

/* About section */
.about {
    color: white;
}

/* Portfolio */
.portfolio {
    display: flex;
    flex-flow: column;
    background-color: #374a42;
}

.project-description {
    display: flex;
    flex-flow: column;

}

.screenshot {
    width: 300px;
    margin: 20px auto;
}

.button {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 10px 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 1.33;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 auto;
}

/* Skills */
.skills {
    background-color: #2e2e2e;
}

.skills-container {
    display: flex;
    flex-flow: wrap;
    margin-top: 30px;
}

.skills-block {
    width: 200px;
    padding: 0 10px;
    margin: auto;
}

.thesis {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: calc(100%-20px);
    margin: 20px auto;
    padding: 10px;
    background-color: #525252;
}

/* Footer */
.footer-navigation {
    position: relative;
    background-color: #dcdedd;
}

.c-btn {
    display: flex;
    flex-flow: row;
    width: 160px !important;
    align-items: center;
    margin: 0 auto;
}

.contact-me {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    align-items: center; 
}

.mail {
    width: 25px;
    height: 25px;
    background-image: url(./imeges/social-icons.png);
    background-size: 342px 222px;
    background-position: -197px -42px;
    border-radius: 50%;
    margin: 0 10px;
}

.follow-me{
    display: flex;
    flex-flow: row;
    width: 180px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
}

.github, .linkedin, .instagram {
    width: 40px;
    height: 40px;
    background-image: url(./imeges/social-icons.png);
    background-size: 525px 353px;
    border-radius: 50%;
}

.github {
    background-position: -242px -125px;
}

.linkedin {
    background-position: -6px -185px;
}

.instagram {
    background-position: -418px -125px;
}

.made {
    font-size: 16px;
}

@media (min-width: 1025px) {
    
    .navigation {
        width: 100vw;
        margin: 0 auto;
    }

    .navigation ul{
        width: 1024px;
        display: block;
        text-align: right;
        padding: 0;
        margin: 0 auto;
    }

    .greeting {
        width: 400px;
    }

    #greeting-line {
        font-size: 2.5rem;
        padding-top: 330px;
        width: 100%;
    }

    .section-container {
        display: flex;
        flex-flow: column;
        padding: 60px 10px;
        width: 1024px;
        margin: auto;
    }

    /* Title style */
    .title {
        position: relative;
        width: calc(100% - 20px);
        display: inline-block;
        font-size: 48px;
        text-align: center;
        margin: 0;
    }

    .title::before {
        width: 35%;
    }

    .title::after {
        width: 35%;
    }

    /* Portfolio */
    .screenshot {
        width: 600px;
    }

    .button {
        width: 200px;
    }

    /* Skills */
    .skills {
        width: calc(100%-20px);
    }

    .thesis {
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        width: 600px;
        margin: 20px auto;
        padding: 10px;
        background-color: #525252;
    }

    .skills-container {
        justify-content: space-between;
        display: flex;
        flex-flow: row;
    }

    .made {
        font-size: 18px;
    }

}