.greeting {
    /* display: block; */
    /* vertical-align: middle; */
    height: 100%;
    width: 100%;
}

.greeting h1 {
    text-align: center;
    margin: 0;
    /* padding: calc(100vh/2 - 200px); */
    font-family: "Dancing Script";
    font-size: 62px;
    font-size: 4rem;
}

.about {
    margin: 0 20px;
}
