.greeting h1 {
    text-align: center;
    margin: 0;
    font-family: "Dancing Script";
    font-size: 62px;
    font-size: 4rem;
}

.skills {
    display: inline-block;
    vertical-align: top;
    margin: 30px;
}